<div class="chat">
  <div class="header">
    <div class="left-header">
      <div class="left-header__title">
        sampleグループ
      </div>
      <ul class="left-header__members">
        Member：
        <li class="member">taiga</li>
      </ul>
    </div>
    <div class="right-header">
      <a class="right-header__button" href="">Edit</a>
    </div>
  </div>
  <div class="messages">
    <div class="message">
      <div class="upper-message">
        <div class="upper-message__user-name">taiga</div>
        <div class="upper-message__date">2018/11/28 12:25:32</div>
      </div>
      <div class="lower-message">
        <p class="lower-message__content">gggggggggggg</p>
      </div>
    </div>
  </div>
  <div class="form">
    <%= form_for [@group, @message] do |f| %>
      <%= f.text_field :content, class: 'form__messsage', placeholder: 'type a message' %>
      <div class="form__mask">
        <%= f.label :image, class: 'form__mask__image' do %>
          <%= fa_icon 'picture-o', class: 'icon' %>
          <%= f.file_field :image, class: 'hidden' %>
        <% end %>
      </div>
      <%= f.submit 'Send', class: 'form__submit' %>
    <% end %>
  </div>
</div>
