  <%= form_for @group do |f| %>
    <% if @group.errors.any? %>
      <div class="chat-group-form__errors">
        <h2><%= "#{@group.errors.full_messages.count}件のエラーが発生しました。" %></h2>
        <ul>
          <% @group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <%= f.label :name, class: 'chat-group-form__label' %>
      </div>
      <div class='chat-group-form__field--right'>
        <%= f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: 'グループ名を入力してください' %>
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <!-- この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します  -->
       <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_チャットメンバーを追加">チャットメンバーを追加</label>
      </div>
      <div class='chat-group-form__field--right'>
        <div class='chat-group-form__search clearfix'>
          <input class='chat-group-form__input' id='user-search-field' placeholder='追加したいユーザー名を入力してください' type='text'>
        </div>
        <div id='user-search-result'></div>
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'>
        <label class="chat-group-form__label" for="chat_group_チャットメンバー">チャットメンバー</label>
      </div>
      <div class='chat-group-form__field--right'>
        <%= f.collection_check_boxes(:user_ids, User.all, :id, :name) %>
        <!-- この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します  -->
        <div id='chat-group-users'>
          <!-- <div class='chat-group-user clearfix' id='chat-group-user-22'>
            <input name='chat_group[user_ids][]' type='hidden' value='22'>
            <p class='chat-group-user__name'>seo_kyohei</p>
          </div> -->
        </div>
      </div>
    </div>
    <div class='chat-group-form__field clearfix'>
      <div class='chat-group-form__field--left'></div>
      <div class='chat-group-form__field--right'>
        <%= f.submit class: 'chat-group-form__action-btn' %>
      </div>
    </div>
  <% end %>
