= render partial: "chatside"

.chat-main
  .chat-main__header
    .chat-main__header-group.clearfix
      .chat-main__header-group-name
        = @group.name

      %a.chat-main__header-group-btn
        Edit

    .chat-main__header-member
      = @group.users.name



  .chat-main__body
    = render partial: "chatmain", collection: @messages, as: :message


  .chat-main__footer
    .chat-main__footer-form
      = form_for [@group, @message], html:{id: 'new-message'} do |f|
        = f.text_field :content, class: 'chat-main__footer-text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__footer-label', for: "upload-icon" do
          = f.file_field :image, class: 'chat-main__footer-faile', id: 'upload-icon'
          = fa_icon 'image'
        = f.submit 'Send', "data-disable-with": "送信中...", class: 'chat-main__footer-btn'
